 .App {
  text-align: center;
} 

.App-logo {
  height: 50px;
  
}

.App-header {
  height: 120px;
  padding: 20px;
  color:#64a407;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  height: 80px;
  padding: 20px;
  font-size: large;
  background-color: #64a407;
  color: white;
}

.navbar {
  background-color: #64a407 !important;
  padding: 0 !important;
  
  
  
  
}
.nav-item {
  color: white !important;
  
}
.nav-item:hover {
  background-color: #BCD739!important;
  padding: 0 !important;
  
}

#pot {
  background-color: rgb(231, 233, 130) !important;
  color: black !important;
}
.row{
  margin-top: 40px !important;
}

.card {
  margin-bottom: 20px !important;
}
#btnGroup{
  margin:30px !important;
}
#DateBtn{
  text-align: right;
}
#subtileRes{
  margin-bottom: 20px;
}

.jkNumbers li{
  display: inline;
  text-decoration: none;
  padding: 10px;
  margin: 20px;
  border: 1px black solid;
  border-radius: 50%;
  
}
.eur{
  border: 1px red solid !important;
  border-radius: 50%;
  color: red;
}

